@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');

/* || GENERAL STYLES */
body {
  font-family: 'Open Sans', sans-serif;
}

.yellowtail {
  font-family: 'Yellowtail', cursive;
}

/* || HEADER STYLES */
#header {
  background-color: #0f084b;
}

.nav-link,
.navbar-brand,
.navbar-toggler-icon {
  color: white;
}
